.fa {
  padding: 10px;
  font-size: 35px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #1a237e;
  color: white;
}

.fa-linkedin {
  background: #311b92;
  color: white;
}

.fa-github {
  background: #0d47a1;
  color: white;
}
